[Unit]
Description=WFS-MEAN
Requires=wfs.mean.service

[Timer]
Unit=wfs.mean.service
OnBootSec=2min
OnUnitActiveSec=9min

[Install]
WantedBy=timers.target
