[Unit]
Description=WFS-GPS
Requires=wfs.log.gps.service

[Timer]
Unit=wfs.log.gps.service
OnBootSec=5min
OnUnitActiveSec=10min

[Install]
WantedBy=timers.target
