[Unit]
Description=WFS-bme680
After=multi-user.target

[Service]
User=pi
ExecStart=/usr/bin/python3 /home/pi/wfs/wfs-bme680.py

[Install]
WantedBy=multi-user.target
