[Unit]
Description=WFS-BME680
Requires=wfs.log.bme680.service

[Timer]
Unit=wfs.log.bme680.service
OnBootSec=1min
OnUnitActiveSec=2min

[Install]
WantedBy=timers.target
