[Unit]
Description=WFS-ANEMO
Requires=wfs.log.anemo.service

[Timer]
Unit=wfs.log.anemo.service
OnBootSec=10sec
OnUnitActiveSec=900msec
AccuracySec=100msec

[Install]
WantedBy=timers.target
