[Unit]
Description=WFS-BME680 BOOT

[Service]
User=pi
Type=simple
ExecStart=/usr/bin/python3 /home/pi/wfs/bme680_boot.py

[Install]
WantedBy=multi-user.target
