[Unit]
Description=WFS-anemo
After=multi-user.target

[Service]
User=pi
Restart=always
RestartSec=2s
ExecStart=/usr/bin/python3 /home/pi/wfs/wfs-anemo.py

[Install]
WantedBy=multi-user.target
